<div id="description" class="column">
  <h3>Description</h3>
  <%= render 'form_description', :f => f %>
</div>
<div id="schedule" class="column">
  <h3>Planification</h3>
  <%= render 'form_schedule', :f => f %>
</div>
<div class="buttons bottom">
  <%= submit_tag "Sauvegarder" %>
  <%= link_to 'Annuler', :back, :class => 'cancel' %>
</div>