<ul class="tasks <%= @options[:archive] ? 'archived' : '' %>  <%= @options[:template] == 'preview' ? 'preview' : '' %>" id="list-tasks">
  <% if tasks.empty? %>
    <li class="empty">Aucune tâche de disponible</li>
  <% else %>
    <% tasks.each do |task| %>
      <li class="odd" id="task-<%= task.id %>"><%= render 'task', :task => task %></li>
    <% end %>
  <% end %>
</ul>
