<%= title_tasks_section(@section, @archived) %>
<ul class="tasks <%= @archived ? 'archived' : '' %>" id="list-tasks">
  <% @tasks.each do |task| %>
    <li class="odd" id="task-<%= task.id %>"><%= render 'task', :task => task %></li>
  <%- end %>
</ul>