<div class="method">
  <a name="m<%= m.id %>"></a>
  <h4><%= link_to show_method_name(m), dpath('project.code_file.code_method', :code_file_id => m.code_file_id, :id => m.id, :action => 'edit') %></h4>
  <% if false #not m.parameters.to_s.empty? %>
    <div class="block">
      <%= show_method_parameters(m.parameters) %>
    </div>
  <% end %>
  <% if not m.description.to_s.empty? %>
    <div class="block">
      <%= htmlize(m.description) %>
    </div>
  <% end %>
</div>