body{background-color:#a5cccc;color:#333333;font-family:"Lucida Grande", Tahoma, Verdana;font-size:12px;margin:0px;padding:0px;}
h1{color:#000000;font-size:30px;margin:0px 0px 20px 0px;padding:0px;}
h2{color:#8fb048;font-size:22px;margin:0px 0px 20px 0px;padding:0px;}
h3{color:#8dafb2;font-size:18px;margin:0px 0px 8px 0px;padding:0px;}
h4{color:#333333;font-size:13px;font-weight:bold;margin:10px 0px 8px 0px;padding:0px;}
a{color:#288a93;text-decoration:none;}
a:hover{color:#1a6268;}
a:active{outline:0;}
a:focus{outline:0;}
p{color:#333333;line-height:18px;margin:0px 0px 20px 0px;padding:0px;}
ul{list-style:none;margin:0px;padding:0px;}
ul li{list-style:none;margin:0px 0px 6px 0px;padding:0px;}
ul li.even{background-color:#e8f2f2;}
ul li.odd{background-color:#eff6f6;}
ol{margin:0px 0px 20px 0px;padding:0px;}
ol li{margin:0px 0px 6px 40px;padding:0px;}

div.float-anchor{clear:both;}

.ico{background:url(../images/icons.png) no-repeat top left;display:block;float:left;height:16px;margin:0px 4px 0px 0px;width:16px;}
.ico-add{background-position:0px 0px;}
.ico-assigned_to{background-position:-192px 0px;}
.ico-archive{background-position:-240px 0px;}
.ico-calendar{background-position:-128px 0px;}
.ico-collection{background-position:-304px 0px;}
.ico-comments{background-position:-208px 0px;}
.ico-current{background-position:-224px 0px;}
.ico-delete{background-position:-32px 0px;}
.ico-edit{background-position:-16px 0px;}
.ico-file{background-position:-112px 0px;}
.ico-folder{background-position:-96px 0px;}
.ico-gear{background-position:-288px 0px;}
.ico-help{background-position:-272px 0px;}
.ico-hold{background-position:-64px 0px;}
.ico-late{background-position:-176px 0px;}
.ico-move{background-position:-336px 0px;}
.ico-nature{background-position:-320px 0px;}
.ico-started{background-position:-48px 0px;}
.ico-stopped{background-position:-80px 0px;}
.ico-target{background-position:-160px 0px;}
.ico-time{background-position:-144px 0px;}
.ico-tasks{background-position:-256px 0px;}
.ico-user{background-position:-192px 0px;}








