




div.main-content div.inner-space div.method{margin:0px 0px 0px 0px;}
div.main-content div.inner-space div.method h4 a{color:#333333;}
div.main-content div.inner-space div.method h4 a:hover{color:#1a6268;}
div.main-content div.inner-space div.method h4 span.parameters{color:#35a42d;}
div.main-content div.inner-space div.method div.block{margin:0px 0px 25px 0px;}
div.main-content div.inner-space div.method div.block p{margin:0px 0px 4px 0px;}