div.form-block{background:#eeeeee;float:left;height:170px;margin:0px 20px 20px 0px;padding:20px 15px;width:195px;}
div.hidden-fields{margin:0px 0px 20px 0px;}
div.hidden-fields input{display:none;}
div.hidden-fields select{display:none;}

div.main-wrapper{background-color:#ffffff;margin:0px auto;width:1200px;}

div.main-header{background-color:#8fb048;height:115px;overflow:hidden;width:100%;}
div.main-header div.top-bar{background-color:#2f2d2d;height:25px;overflow:hidden;width:100%;}
div.main-header div.top-bar ul{margin:0px;padding:0px;}
div.main-header div.top-bar ul li{float:left;list-style:none;margin:5px 20px;padding:0px;}
div.main-header div.top-bar ul li a{color:#ffffff;font-size:12px;text-decoration:none;}
div.main-header div.top-bar ul.users{float:right;margin-right:10px;}
div.main-header div.top-bar ul.users li{margin:4px 15px;}
div.main-header div.top-bar ul.users li a{font-size:10px;}
div.main-header div.top-bar ul.users li a:hover{color:#8FB048;}
div.main-header div.top-bar ul.users li a:hover.disconnect{color:#ff6a1a;}
div.main-header div.shadow{background:url(../images/head-shadow.png) top left repeat-x;height:90px;position:absolute;width:1200px;z-index:5;}
div.main-header div.logo{float:left;height:90px;margin:0px 0px 0px 10px;overflow:hidden;}
div.main-header div.logo img{margin:-8px 0px 0px 0px;}
div.main-header div.operation{float:right;margin:32px 20px 0px 20px;position:relative;z-index:6;}
div.main-header div.operation a{background:#a1c651;border:1px solid #82a636;color:#333333;display:block;font-size:13px;font-weight:normal;padding:5px 15px 5px 0px;text-decoration:none;}
div.main-header div.operation a span{margin:0px 5px 0px 10px;}
div.main-header div.operation a:hover{border:1px solid #bdd784;}

div.main-content{background:url(../images/main-content.gif) repeat-y top left;border-bottom:1px solid #999999;min-height:400px;}

div.main-content div.navigations{background-color:#eeeeee;border-right:1px solid #dddddd;float:left;margin:0px 40px 0px 0px;width:325px;}

div.main-content div.navigations ul.choices{background-color:#dddddd;border-bottom:1px solid #cccccc;height:30px;margin:0px;padding:0px;width:100%;}
div.main-content div.navigations ul.choices li{background:no-repeat 15px 7px;cursor:pointer;float:left;height:100%;margin:0px 0px 0px 0px;overflow:hidden;}
div.main-content div.navigations ul.choices li:hover{background-color:#ffffff;}
div.main-content div.navigations ul.choices li a{color:#666666;display:block;font-size:12px;font-weight:bold;height:100%;padding:8px 15px 0px 15px;}
div.main-content div.navigations ul.choices li.selected{background-color:#eeeeee;border:1px solid #cccccc;border-bottom:1px solid #eeeeee;border-top:none;}
div.main-content div.navigations ul.choices li.selected a{color:#444444;}
div.main-content div.navigations ul.choices li.first{border-left:none;}

div.main-content div.navigations ul.tree{margin:10px 0px 20px 0px;}
div.main-content div.navigations ul.tree li{display:none;height:16px;margin:0px 0px 3px 0px;}
div.main-content div.navigations ul.tree li a{color:#274447;float:left;text-decoration:none;}
div.main-content div.navigations ul.tree li a.operation{display:none;float:left;margin:0px 0px 0px 20px;text-indent:-9999px;}
div.main-content div.navigations ul.tree li:hover a.operation{display:block;}
div.main-content div.navigations ul.tree li.undefined a{color:#f00;}
div.main-content div.navigations ul.tree li.level0{display:block;margin-left:0px;}
div.main-content div.navigations ul.tree li.level1{display:block;margin-left:20px;}
div.main-content div.navigations ul.tree li.level2{margin-left:30px;}
div.main-content div.navigations ul.tree li.level3{margin-left:45px;}
div.main-content div.navigations ul.tree li.level4{margin-left:60px;}
div.main-content div.navigations ul.tree li.level5{margin-left:75px;}
div.main-content div.navigations ul.tree li.level6{margin-left:90px;}
div.main-content div.navigations ul.tree li.show{display:block;}

div.main-content div.inner-space{float:left;margin:20px 0px 40px 0px;width:815px;}
div.main-content div.inner-space h2{clear:both;width:100%;}
div.main-content div.inner-space h2.form{width:794px;}
div.main-content div.inner-space h2 span.path{clear:both;color:#999999;display:block;font-size:11px;width:100%;}
div.main-content div.inner-space ul{margin:20px;}
div.main-content div.inner-space ul li{list-style:none;margin:0px 0px 6px 0px;}
div.main-content div.inner-space ul li ul{margin:6px 0px 12px 20px;}
div.main-content div.inner-space ul.operations{float:right;margin:-25px 0px 0px 0px}
div.main-content div.inner-space ul.operations li{float:left;list-style:none;margin:0px 0px 0px 20px;}
div.main-content div.inner-space ul.operations li a{color:#888888;font-size:11px;text-decoration:none;}
div.main-content div.inner-space ul.operations li a:hover{color:#555555;}
div.main-content div.inner-space div.file-header{width:100%;}
div.main-content div.inner-space div.file-header ul.operations{margin:-70px 0px 0px 0px;}
div.main-content div.inner-space div.block{margin:0px 0px 30px 0px;}

div#form-user div.column{float:left;margin:0px 0px 10px 0px;width:400px;}
div#form-user ul.tap-list{float:left;margin:5px 0px 20px 0px;padding:0px;width:250px;}
div#form-user ul.tap-list li{background-color:#f3f3f3;border:1px solid #eaeaea;color:#999999;cursor:pointer;float:left;margin:-1px 0px 0px 0px;padding:5px 10px 5px 10px;width:100%;}
div#form-user ul.tap-list li img.avatar{float:left;margin:0px 10px 0px 0px;opacity:.7;width:25px;}
div#form-user ul.tap-list li div.name{float:left;font-size:13px;margin:4px 0px 0px 0px;}
div#form-user ul.tap-list li.selected{background-color:#ffffff;color:#444444;}
div#form-user ul.tap-list li.selected img.avatar{opacity:1;}
div#form-user ul.tap-list li:hover{border-left:4px solid #8fb048;padding-left:7px;}