body{background-color:#a5cccc;color:#333333;font-family:"Lucida Grande", Tahoma, Verdana;font-size:12px;margin:0px;padding:0px;}
h1{color:#000000;font-size:30px;margin:0px 0px 20px 0px;padding:0px;}
h2{color:#8fb048;font-size:22px;margin:0px 0px 20px 0px;padding:0px;}
h3{color:#8dafb2;font-size:18px;margin:0px 0px 8px 0px;padding:0px;}
h4{color:#333333;font-size:13px;font-weight:bold;margin:10px 0px 8px 0px;padding:0px;}
a{color:#288a93;text-decoration:none;}
a:hover{color:#1a6268;}
a:active{outline:0;}
a:focus{outline:0;}
p{color:#333333;line-height:18px;margin:0px 0px 20px 0px;padding:0px;}
ul{list-style:none;margin:0px;padding:0px;}
ul li{list-style:none;margin:0px 0px 6px 0px;padding:0px;}
ul li.even{background-color:#e8f2f2;}
ul li.odd{background-color:#eff6f6;}
ol{margin:0px 0px 20px 0px;padding:0px;}
ol li{margin:0px 0px 6px 40px;padding:0px;}
label{clear:both;display:block;margin:0px 0px 3px 0px;}
label.check{display:inline;margin:0px 0px 3px 10px;}
label input{margin:0px 3px 0px 0px;}
input{font-family:"Lucida Grande", Tahoma, Verdana;font-size:12px;margin:0px 0px 20px 0px;width:400px;}
input.medium{width:150px;}
input.small{width:70px;}
input[type=submit]{margin:10px 20px 0px 0px;width:auto;}
input[type=checkbox]{width:auto;}
textarea{font-family:"Lucida Grande", Tahoma, Verdana;font-size:12px;height:200px;margin:0px 0px 20px 0px;width:700px;}
textarea#document_description{height:400px;}
textarea.small{height:100px;}
select{font-family:"Lucida Grande", Tahoma, Verdana;font-size:12px;margin:0px 0px 20px 0px;width:400px;}
select.medium{width:170px;}
select.date{width:60px;}

.admin-tools{display:block;}

div.form-block{background:#eeeeee;float:left;height:170px;margin:0px 20px 20px 0px;padding:20px 15px;width:195px;}
div.hidden-fields{margin:0px 0px 20px 0px;}
div.hidden-fields input{display:none;}
div.hidden-fields select{display:none;}

a.link-edit{background:url(../images/edit.png) no-repeat top left;float:left;height:16px;margin:0px 0px 0px 20px;text-indent:-9999px;width:16px;}
a.link-delete{background:url(../images/delete.png) no-repeat top left;float:left;height:16px;margin:0px 0px 0px 5px;text-indent:-9999px;width:16px;}

div.main-wrapper{background-color:#ffffff;margin:0px auto;width:1200px;}

div.main-header{background-color:#8fb048;height:120px;width:100%;}
div.main-header div.top-bar{background-color:#2f2d2d;height:30px;width:100%;}
div.main-header div.top-bar ul{margin:0px;padding:0px;}
div.main-header div.top-bar ul li{float:left;list-style:none;margin:5px 20px;padding:0px;}
div.main-header div.top-bar ul li a{color:#ffffff;font-size:14px;text-decoration:none;}
div.main-header div.top-bar ul.users{float:right;}
div.main-header div.top-bar ul.users li{margin:7px 15px;}
div.main-header div.top-bar ul.users li a{font-size:10px;}
div.main-header div.top-bar ul.users li a:hover{color:#8FB048;}
div.main-header div.top-bar ul.users li a:hover.disconnect{color:#ff6a1a;}
div.main-header div.selection{margin:20px;}
div.main-header div.selection p{margin:0px 0px -5px 0px;}
div.main-header div.operation{float:right;margin:20px;}
div.main-header div.operation a{color:#ffffff;font-size:14px;font-weight:normal;text-decoration:none;}

div.main-content{background:url(../images/main-content.gif) repeat-y top left;border-bottom:1px solid #999999;min-height:400px;}

div.main-content div.navigations{background-color:#eeeeee;border-right:1px solid #dddddd;float:left;margin:0px 40px 0px 0px;width:325px;}

div.main-content div.navigations ul.choices{background-color:#dddddd;border-bottom:1px solid #cccccc;height:30px;margin:0px;padding:0px;width:100%;}
div.main-content div.navigations ul.choices li{background:no-repeat 15px 7px;cursor:pointer;float:left;height:100%;margin:0px 0px 0px 0px;overflow:hidden;}
div.main-content div.navigations ul.choices li.help{background-image:url(../images/help.png);}
div.main-content div.navigations ul.choices li.task{background-image:url(../images/task.png);}
div.main-content div.navigations ul.choices li:hover{background-color:#ffffff;}
div.main-content div.navigations ul.choices li a{color:#666666;display:block;font-size:12px;font-weight:bold;height:100%;padding:8px 15px 0px 36px;}
div.main-content div.navigations ul.choices li.selected{background-color:#eeeeee;border:1px solid #cccccc;border-bottom:1px solid #eeeeee;border-top:none;}
div.main-content div.navigations ul.choices li.selected a{color:#444444;}
div.main-content div.navigations ul.choices li.first{border-left:none;}

div.main-content div.navigations div.sub-navigation{background-color:#dddddd;height:30px;margin:0px 0px 0px 0px;width:100%;}
div.main-content div.navigations div.sub-navigation a{background:0px 1px no-repeat;color:#555555;font-size:11px;font-weight:bold;display:block;float:left;margin:7px 20px;padding:2px 0px 4px 20px;}
div.main-content div.navigations div.sub-navigation a:hover{color:#333333;}
div.main-content div.navigations div.sub-navigation a.archive{background-image:url(../images/archive.png);}
div.main-content div.navigations div.sub-navigation a.current{background-image:url(../images/current.png);}
div.main-content div.navigations ul.tree{margin:10px 0px 20px 0px;}
div.main-content div.navigations ul.tree li{background:url(../images/file.png) no-repeat top left;display:none;height:16px;margin:0px 0px 3px 0px;padding-left:18px;}
div.main-content div.navigations ul.tree li.folder{background-image:url(../images/folder.png);}
div.main-content div.navigations ul.tree li a{color:#274447;float:left;text-decoration:none;}
div.main-content div.navigations ul.tree li a.operation{display:none;}
div.main-content div.navigations ul.tree li:hover a.operation{display:block;}
div.main-content div.navigations ul.tree li.undefined a{color:#f00;}
div.main-content div.navigations ul.tree li.level0{display:block;margin-left:0px;}
div.main-content div.navigations ul.tree li.level1{display:block;margin-left:20px;}
div.main-content div.navigations ul.tree li.level2{margin-left:30px;}
div.main-content div.navigations ul.tree li.level3{margin-left:45px;}
div.main-content div.navigations ul.tree li.level4{margin-left:60px;}
div.main-content div.navigations ul.tree li.level5{margin-left:75px;}
div.main-content div.navigations ul.tree li.level6{margin-left:90px;}
div.main-content div.navigations ul.tree li.show{display:block;}

div.main-content div.inner-space{float:left;margin:20px 0px 40px 0px;width:815px;}
div.main-content div.inner-space h2{clear:both;width:100%;}
div.main-content div.inner-space h2 span.path{clear:both;color:#999999;display:block;font-size:11px;width:100%;}
div.main-content div.inner-space ul{margin:20px;}
div.main-content div.inner-space ul li{list-style:none;margin:0px 0px 6px 0px;}
div.main-content div.inner-space ul li ul{margin:6px 0px 12px 20px;}
div.main-content div.inner-space ul.operations{float:right;margin:-25px 0px 0px 0px}
div.main-content div.inner-space ul.operations li{float:left;list-style:none;margin:0px 0px 0px 20px;}
div.main-content div.inner-space ul.operations li a{color:#888888;font-size:11px;text-decoration:none;}
div.main-content div.inner-space ul.operations li a:hover{color:#555555;}
div.main-content div.inner-space div.file-header{width:100%;}
div.main-content div.inner-space div.file-header ul.operations{margin:-70px 0px 0px 0px;}
div.main-content div.inner-space div.block{margin:0px 0px 30px 0px;}

div.main-content div.inner-space div.method{margin:0px 0px 0px 0px;}
div.main-content div.inner-space div.method h4 a{color:#333333;}
div.main-content div.inner-space div.method h4 a:hover{color:#1a6268;}
div.main-content div.inner-space div.method h4 span.parameters{color:#35a42d;}
div.main-content div.inner-space div.method div.block{margin:0px 0px 25px 0px;}
div.main-content div.inner-space div.method div.block p{margin:0px 0px 4px 0px;}

div.main-content div.inner-space ul.tasks{margin:0px;}
div.main-content div.inner-space ul.tasks li{border:1px solid #cccccc;float:left;margin:-1px 0px 0px 0px;width:100%;}

div.task{cursor:default;float:left;margin:15px 20px;width:780px;}
div.task div.line{background:no-repeat 0px 4px;clear:both;color:#333333;float:left;font-size:11px;margin:0px 0px 10px 0px;padding-left:22px;}
div.task div.line label{color:#777777;display:block;float:none;font-size:9px;height:8px;width:auto;}
div.task div.line span.unassigned{color:#9f2828;}

div.task div.details{float:left;margin:0px 20px 0px 0px;width:600px;}
div.task div.details h3{font-size:13px;margin:0px 0px 5px 0px;}
div.task div.details h3 span.identifier{color:#777777;display:block;font-size:12px;font-weight:bold;}
div.task div.details div.description{color:#555555;margin:0px 0px 10px 0px;}
div.task div.details div.description p{color:#555555;margin:0px;}
div.task div.details div.line{background-image:url(../images/user.png);clear:none;margin:0px 40px 0px 0px;}

div.task div.overview{float:left;width:110px;}
div.task div.overview div.state{height:16px;font-size:12px;font-weight:bold;padding-top:4px;}
div.task div.overview div.started{background-image:url(../images/started.png);}
div.task div.overview div.stopped{background-image:url(../images/stopped.png);}
div.task div.overview div.calendar{background-image:url(../images/calendar.png);}
div.task div.overview div.estimated_time{background-image:url(../images/estimated-time.png);}
div.task div.overview div.target{background-image:url(../images/target.png);}
div.task div.overview div.late{background-image:url(../images/late.png);}

li div.task div.operations{display:none;}
li:hover div.task div.operations{display:block;float:right;width:30px;}
li:hover div.task div.operations a.delete{color:#cccccc;float:right;font-family:Arial;font-size:15px;font-weight:700;}
li:hover div.task div.operations a:hover.delete{color:#f25a5a;}

#doorway div.main-wrapper{margin:60px auto 0px auto;width:500px;}
#doorway div.main-content{background:none;min-height:250px;}
#doorway div.main-content div.inner-space{margin:20px;width:460px;}
#doorway div.main-content div.inner-space div.form{margin:0px auto;width:150px;}
#doorway div.main-content div.inner-space div.form input{margin:0px 0px 10px 0px;width:130px;}
#doorway div.main-content div.inner-space div.form input[type=submit]{margin:10px 0px 10px 0px;width:auto;}
#doorway div.main-content div.inner-space div.form input[type=checkbox]{width:auto;}
