div#task-options{margin:20px 20px;}
div#task-options h5{color:#3c3c3c;float:left;font-size:18px;font-weight:normal;margin:20px 0px 10px 0px;padding:0px}
div#task-options h5:first-child{margin-top:0px;}
div#task-options div.option{background:no-repeat top left;clear:both;cursor:pointer;float:left;height:30px;margin:0px 0px 5px 0px;width:285px;}
div#task-options div.option label{color:#666666;cursor:pointer;float:left;font-size:12px;height:16px;line-height:16px;margin:6px 0px 0px 8px;overflow:hidden;width:105px;}
div#task-options div.option label span.ico{height:32px;margin-top:-16px;}
div#task-options div.option select{width:150px;}
div#task-options div.option input{border:none;background:transparent;color:#444444;display:none;font-size:12px;height:20px;margin:2px 0px 0px 0px;padding-top:5px;width:150px;}
div#task-options div.custom-combo{display:none;height:30px;margin:1px 0px 0px 0px;width:145px;}
div#task-options div.custom-combo div.selection{border:none;color:#444444;height:14px;margin:0px 5px 0px -3px;padding:6px 3px;width:142px;}
div#task-options div.custom-combo ul.options{border-top:none;margin:29px 0px 0px -3px;width:165px;}
div#task-options div.custom-combo ul.options li{color:#555555;margin:0px;padding:6px 6px;}
div#task-options div.custom-combo ul.options li.selected{display:none;}
div#task-options div.list-template{clear:left;float:left;}
div#task-options div.list-template div.option{clear:none;float:left;width:auto;}

div#task-options div.option-combo.active{background-image:url(../images/option-combo.png);}
div#task-options div.option-check.active{background-image:url(../images/option-button-small.png);}
div#task-options div.option-input.active{background-image:url(../images/option-input.png);}
div#task-options div.active label span.ico{margin-top:0px;}
div#task-options div.active div.custom-combo{display:block;}
div#task-options div.active input[type=text]{display:block;}
div#task-options div:hover.active{background-position:bottom left;}


div.main-content div.inner-space ul.tasks{margin:0px;width:790px;}
div.main-content div.inner-space ul.tasks li{border:1px solid #cccccc;float:left;margin:-1px 0px 0px 0px;width:100%;}
div.main-content div.inner-space ul.tasks li.empty{border:none;}
div.main-content div.inner-space ul.tasks li.loading{background:url(../images/loading.gif) no-repeat;border:none;height:30px;margin:0px 0px 0px -2px;}


div.task{cursor:default;float:left;margin:15px 20px;width:770px;}
div.task div.line{background:no-repeat 0px 4px;clear:both;color:#333333;float:left;font-size:11px;margin:0px 0px 10px 0px;}
div.task div.line span.ico{float:left;margin:3px 5px 0px 0px;}
div.task div.line div.content{float:left;}
div.task div.line label{color:#777777;display:block;float:none;font-size:9px;height:8px;width:auto;}
div.task div.line span.unassigned{color:#9f2828;}

div.task div.details{float:left;margin:0px 20px 0px 0px;width:590px;}
div.task div.details h3{float:left;font-size:13px;margin:0px 0px 5px 0px;}
div.task div.details h3 span.identifier{color:#777777;display:inline;font-size:12px;font-weight:bold;margin-right:5px;}
div.task div.details h3 span.ico{cursor:pointer;display:none;float:left;margin:0px 6px 0px 0px;}
div.task div.details div.wrapper-description{clear:left;max-height:40px;margin:0px 0px 10px 0px;overflow:hidden;}
div.task div.details div.description{color:#666666;cursor:pointer;margin:0px 0px 10px 0px;}
div.task div.details div.description p{color:#666666;margin:0px 0px 10px 0px;}
div.task div.details div.description ol li{border:none;float:none;list-style:decimal;margin:0px 0px 3px 40px;}
div.task div.details div.description ul li{border:none;float:none;list-style:disc;margin:0px 0px 3px 40px;}
div.task div.details div:hover.description{color:#444444;}
div.task div.details div:hover.description p{color:#444444;}
div.task div.details div.wrapper-description.full{height:auto;}
div.task div.details div.line{clear:none;margin:0px 40px 0px 0px;}
div.task div.details div.comments a{color:#5d540e;}

div.task div.overview{float:left;width:110px;}
div.task div.overview div.state div.content{height:16px;font-size:12px;font-weight:bold;margin-top:4px;}

li div.task div.operations{display:none;}
li:hover div.task div.operations{display:block;float:right;margin-right:20px;width:30px;}
li:hover div.task div.operations a.delete{color:#cccccc;float:right;font-family:Arial;font-size:15px;font-weight:700;}
li:hover div.task div.operations a:hover.delete{color:#f25a5a;}


div#box-comments h2{color:#288a93;}
div#box-comments h2 span.identifier{color:#777777;}
div#box-comments div.loading{background:url(../images/loading-bar.gif) no-repeat center top;color:#888888;font-size:14px;margin:175px 0px 0px 20px;padding:20px 0px 0px 0px;text-align:center;width:730px;}

div#box-comments ul.comments{float:left;height:450px;margin:0px 0px 0px 0px;overflow:auto;padding:0px;width:734px;}
div#box-comments ul.comments li.comment{border:none;float:left;margin:0px 0px 20px 0px;width:100%;}
div#box-comments ul.comments li.comment div.details{float:left;margin:1px 0px 0px 10px;width:95px;}
div#box-comments ul.comments li.comment div.details img.avatar{border:3px solid #dddddd;margin:0px 0px -3px 0px;width:65px;}
div#box-comments ul.comments li.comment div.details div.name{background-color:#eeeeee;border:3px solid #dddddd;border-top:none;display:none;font-size:10px;margin:0px;text-align:center;width:65px;}
div#box-comments ul.comments li.comment div:hover.details div.name{display:block;}
div#box-comments ul.comments li.comment div.date{color:#288a93;float:left;font-size:11px;font-weight:bold;height:15px;margin:1px 0px 0px 0px;}
div#box-comments ul.comments li.comment div.operations{display:none;float:left;margin:0px 0px 0px 20px;}
div#box-comments ul.comments li.comment div.operations a.ico{cursor:pointer;margin:0px 8px 0px 0px;}
div#box-comments ul.comments li.comment div.text{float:left;font-size:12px;margin:0px 0px 20px 0px;width:550px;}
div#box-comments ul.comments li.comment div.text p{color:#555555;margin:0px 0px 10px 0px;}
div#box-comments ul.comments li.comment div.text ol li{color:#555555;list-style:decimal;margin:0px 0px 5px 20px;}
div#box-comments ul.comments li.comment div.text ul li{color:#555555;list-style:disc;margin:0px 0px 5px 20px;}

div#box-comments ul.comments li.comment div.form{display:none;float:left;margin:3px 0px 20px 0px;width:550px;}
div#box-comments ul.comments li.comment div.form textarea{border:1px solid #bbbbbb;margin:0px 0px 10px 0px;width:550px;}

div#box-comments ul.comments li:hover.comment div.operations{display:block;}
div#box-comments ul.comments li.new-comment div.form{display:block;}

div.task.preview div.details h3{float:left;margin:0px;width:auto;}
ul.tasks.preview li div.task div.details h3 span.ico{display:block;}
div.task.preview div.details div.inner{display:none;}
div.task.preview div.overview{margin:0px;}
div.task.preview div.line{display:none;}
div.task.preview div.state{display:block;margin:0px;}