div#task-filters{margin:20px 20px;}
div#task-filters h5{color:#3c3c3c;font-size:18px;font-weight:normal;margin:0px 0px 10px 0px;padding:0px}
div#task-filters div.filter{clear:both;cursor:pointer;float:left;height:30px;margin:0px 0px 5px 0px;width:285px;}
div#task-filters div.filter label{color:#666666;cursor:pointer;float:left;font-size:12px;height:16px;line-height:16px;margin:6px 0px 0px 8px;overflow:hidden;width:105px;}
div#task-filters div.filter label span.ico{height:32px;margin-top:-16px;}
div#task-filters div.filter select{width:150px;}
div#task-filters div.custom-combo{display:none;height:30px;margin:1px 0px 0px 0px;width:145px;}
div#task-filters div.custom-combo div.selection{border:none;color:#444444;height:14px;margin:0px 5px 0px -3px;padding:6px 3px;width:142px;}
div#task-filters div.custom-combo ul.options{border-top:none;margin:29px 0px 0px -3px;width:165px;}
div#task-filters div.custom-combo ul.options li{color:#555555;margin:0px;padding:6px 6px;}
div#task-filters div.custom-combo ul.options li.selected{display:none;}
div#task-filters div.filter-combo.active{background:url(../images/filter-combo.png) no-repeat top left;}
div#task-filters div.filter-button-small.active{background:url(../images/filter-button-small.png) no-repeat top left;}
div#task-filters div.active label span.ico{margin-top:0px;}
div#task-filters div.active div.custom-combo{display:block;}
div#task-filters div:hover.active{background-position:bottom left;}


div.main-content div.inner-space ul.tasks{margin:0px;width:790px;}
div.main-content div.inner-space ul.tasks li{border:1px solid #cccccc;float:left;margin:-1px 0px 0px 0px;width:100%;}
div.main-content div.inner-space ul.tasks li.empty{border:none;}
div.main-content div.inner-space ul.tasks li.loading{background:url(../images/loading.gif) no-repeat;border:none;height:30px;margin:0px 0px 0px -2px;}


div.task{cursor:default;float:left;margin:15px 20px;width:770px;}
div.task div.line{background:no-repeat 0px 4px;clear:both;color:#333333;float:left;font-size:11px;margin:0px 0px 10px 0px;}
div.task div.line span.ico{float:left;margin:3px 5px 0px 0px;}
div.task div.line div.content{float:left;}
div.task div.line label{color:#777777;display:block;float:none;font-size:9px;height:8px;width:auto;}
div.task div.line span.unassigned{color:#9f2828;}

div.task div.details{float:left;margin:0px 20px 0px 0px;width:590px;}
div.task div.details h3{font-size:13px;margin:0px 0px 5px 0px;}
div.task div.details h3 span.identifier{color:#777777;display:block;font-size:12px;font-weight:bold;}
div.task div.details div.wrapper-description{max-height:40px;margin:0px 0px 10px 0px;overflow:hidden;}
div.task div.details div.description{color:#666666;cursor:pointer;margin:0px 0px 10px 0px;}
div.task div.details div.description p{color:#666666;margin:0px;}
div.task div.details div.description ul{border:none;float:none;margin:20px;}
div.task div.details div.description ul li{border:none;float:none;margin:0px 0px 3px 0px;}
div.task div.details div:hover.description{color:#444444;}
div.task div.details div:hover.description p{color:#444444;}
div.task div.details div.wrapper-description.full{height:auto;}
div.task div.details div.line{clear:none;margin:0px 40px 0px 0px;}
div.task div.details div.comments a{color:#5d540e;}

div.task div.overview{float:left;width:110px;}
div.task div.overview div.state div.content{height:16px;font-size:12px;font-weight:bold;margin-top:4px;}

li div.task div.operations{display:none;}
li:hover div.task div.operations{display:block;float:right;margin-right:20px;width:30px;}
li:hover div.task div.operations a.delete{color:#cccccc;float:right;font-family:Arial;font-size:15px;font-weight:700;}
li:hover div.task div.operations a:hover.delete{color:#f25a5a;}

div.task div.wrapper-comments{background:url(../images/mask.png);display:none;height:100%;left:0px;position:absolute;top:0px;width:100%;}
div.task div.wrapper-comments div.box{background:url(../images/bg-comments.png) #ffffff repeat-y;margin:100px auto;padding:0px;width:700px;}
div.task div.wrapper-comments div.box div.heading{background-color:#2f2d2d;border:1px solid #2f2d2d;padding:0px;width:100%;}
div.task div.wrapper-comments div.box div.heading h3{color:#ffffff;font-size:12px;margin:10px 20px;}
div.task div.wrapper-comments div.box div.heading a.close-comments{color:#999999;display:block;float:right;font-family:Arial;font-size:15px;font-weight:700;margin:10px 20px 0px 0px;}
div.task div.wrapper-comments div.box div.heading a:hover.close-comments{color:#cccccc;}
div.task div.wrapper-comments ul.comments{border:1px solid #999999;border-bottom-color:#6c8181;border-top:0px;float:left;height:400px;margin:0px;overflow:auto;padding:0px;width:100%;}
div.task div.wrapper-comments ul.comments li.comment{border:none;float:left;}
div.task div.wrapper-comments ul.comments li.comment div.details{float:left;margin:1px 20px 0px 0px;width:170px;}
div.task div.wrapper-comments ul.comments li.comment div.details div.line{margin:0px 0px 0px 20px;}
div.task div.wrapper-comments ul.comments li.comment div.details div.user{background-repeat:no-repeat;margin-top:10px;padding-top:4px;padding-bottom:2px;}
div.task div.wrapper-comments ul.comments li.comment div.details div.date{padding-top:0px;}
div.task div.wrapper-comments ul.comments li.comment div.details div.time{font-size:14px;margin-bottom:10px;}
div.task div.wrapper-comments ul.comments li.comment div.text{float:left;font-size:12px;margin:13px 0px 20px 0px;width:460px;}
div.task div.wrapper-comments ul.comments li.comment div.text p{color:#555555;margin:0px;}
