<div id="form-user">
  <% form_for(@user) do |f| %>
    <div id="profile" class="column">
      <h3>Profil</h3>
      <%= render 'form-profile', :f => f %>
    </div>
    <div id="report" class="column">
      <h3>Rapport d'activité</h3>
      <%= render 'form-notifications', :f => f %>
    </div>
    <div class="buttons">
      <%= submit_tag "Sauvegarder" %>
      <%= link_to 'Annuler', :back, :class => 'cancel' %>
    </div>
  <% end %>
</div>