<h2>Listes des fichiers qui ont été décrit</h2>
<ul>
  <% @code_files.each do |f| %>
    <% unless f.description.empty? %>
      <li><%= link_to f.full_path, code_file_path(f, :format => 'html') %></li>
    <% end %>
  <% end %>
</ul>